# Remove everything but essentials to install obsidian plugin
# Ignore everything
*

# But keep these files
!.gitignore
!manifest.json
# !main.js don't include build files
!main.ts
!package.json
!README.md
